header {
    background-color: #808080;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    color: #808080;
    font-size: 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}