<div class="body">
    <p>Habilidades</p>

    <div class="habilidades">
        <div class="habilidade-group">
            <div class="habilidade" id="habilidade1">
                <div class="icone"><img src="/assets/html3.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade2">
                <div class="icone"><img src="/assets/css2.png"/></div>
            </div>
            <div class="habilidade" id="habilidade3">
                <div class="icone"><img src="/assets/php2.png"/></div>
            </div>
            <div class="habilidade" id="habilidade4">
                <div class="icone"><img src="/assets/js2.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade5">
                <div class="icone"><img src="/assets/java2.png" alt=""></div>
            </div>
        </div>

        <div class="habilidade-group">
            <div class="habilidade" id="habilidade6">
                <div class="icone"><img src="/assets/angular2.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade7">
                <div class="icone"><img src="/assets/sql2.png" alt="" srcset=""></div>
            </div>
            <div class="habilidade" id="habilidade8">
                <div class="icone"><img src="/assets/github2.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade9">
                <div class="icone"><img src="/assets/git2.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade10">
                <div class="icone"><img src="/assets/typescript.png" alt=""></div>
            </div>
        </div>

        <div class="habilidade-group">
            <div class="habilidade" id="habilidade11">
                <div class="icone"><img src="/assets/excel.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade12">
                <div class="icone"><img src="/assets/word.png"/></div>
            </div>
            <div class="habilidade" id="habilidade13">
                <div class="icone"><img src="/assets/vscode.png"/></div>
            </div>
            <div class="habilidade" id="habilidade14">
                <div class="icone"><img src="/assets/windows.png" alt=""></div>
            </div>
            <div class="habilidade" id="habilidade15">
                <div class="icone"><img src="/assets/linux.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
