.body {
    margin: 0;
    padding: 0;
    height: 80vh;
    overflow: hidden;
    background-color: black;
    border: none;
    outline: none;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.habilidade-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habilidade {
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid transparent;
    border-radius: 10px;
}

.habilidade img {
    max-width: 100%;
}

.habilidade:hover {
    border: 5px solid rgb(81, 8, 227);
}

.icone {
    font-size: 1px;
    margin-top: 1px;
}

.descricao {
    font-size: 16px;
    margin-top: 10px;
}
